@font-face {
  font-family: "suggested";
  src: url("~@/assets/fonts/suggested.regular.ttf") format("truetype");
}

@font-face {
  font-family: "cyberpunk";
  src: url("~@/assets/fonts/Cyberpunks.ttf") format("truetype");
}

@font-face {
  font-family: "spyagency";
  src: url("~@/assets/fonts/spyagency3_2.ttf") format("truetype");
}

@font-face {
  font-family: "roboto";
  src: url("~@/assets/fonts/roboto.bold.ttf") format("truetype");
}
