@font-face {
  font-family: "Lampoon";
  src: url("~@/assets/lampoon.ttf") format("truetype");
}

@font-face {
  font-family: "Lancip";
  src: url("~@/assets/lancip.ttf") format("truetype");
}

@font-face {
  font-family: "suggested";
  src: url("~@/assets/suggested.italic.ttf") format("truetype");
}
@font-face {
  font-family: "valorant";
  src: url("~@/assets/ValorantFont.ttf") format("truetype");
}
@font-face {
  font-family: "cyberpunk";
  src: url("~@/assets/Cyberpunks.ttf") format("truetype");
}
